.bg-con {
  background-color: #f8fafc;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.input-box {
  width: 150px;
}
